* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, Sans-serif;
    font-size: 16px;
    background: url('../img/bg-texturas.png');
    background-repeat: repeat;
}

.contenedor {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header {
    width: 100%;
    background: url('../img/bg2.jpg') #ac1818;
    background-size: auto;
    background-attachment: fixed;
}

header .contenedor {
    position: static;
    height: 175px;
}

header .menu {
    width: 100%;
    text-align: center;
    border-bottom: 5px solid white;
}

header .menu a {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    display: inline-block;
    margin: 20px 6px;
    text-decoration: none;
    position: relative;

}

header .menu a:hover {
    text-decoration: underline;
}

header .textos {
    width: 100%;
    color: #fff;
    position: static;
    margin: 100px 0;
    padding-top: 50px;
    top: 50%;
    margin-top: -52px;

}

header .textos .nombre {
    font-size: 50px;
    font-weight: 300
}

header .textos .nombre span {
    font-family: "Passion One";
    font-weight: 400
}

.main {
    margin-bottom: 60px;
}

footer {
    background: #000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

footer .copyright {
    text-align: center;
    padding: 15px 0;
    color: #fff;
}

.index {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    padding: 5px;
    margin: 15px 10px 5px 0px;
    padding-bottom: 15px;
    background: white;
    border-radius: 5px;
}

.buscador {

    padding: 4px;
    font-size: 18px;
    background: 0;
    border-bottom: solid white 2px;
}

.buscador .buscadorTitulo,
.buscador .buscadorTitulo:focus {
    border: 0;
    background-color: transparent;
    color: white;
    font-family: "TradeGothicBold";
    font-size: 12px;
    text-transform: uppercase;
    width: 85%;
    margin-bottom: 6px;
}

/************************ MODAL *******************************/
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* Fallback color */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #ac1818;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    color: black;
    background-color: white;
    border: none;
}

.modal-body input,
.modal-body input:focus {
    border: 0;
    background-color: transparent;
    text-transform: uppercase;
    margin: 5px 0;
    font-size: 100%;
    color: black;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #ac1818;
    color: white;
    overflow: hidden;
    width: 100%;
}

.modal-footer h3 {
    float: right;
}

/*************** CARDS **********************/

.card {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    padding: 5px;
    margin: 15px 10px 5px 0px;
    padding-bottom: 15px;
    background: white;
}

.card h4 {
    font-family: "TradeGothicBold";
    font-size: 24px;
    text-transform: uppercase;
    padding: 8px;
    text-align: center;
}

.card .crop-img {
    width: 100%;
    overflow: hidden;
    max-height: 265px;
}

.card img {
    width: 100%;
}

.card p {
    font-size: 19px;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.paginacion {
    margin: 20px 0;
}

.paginacion ul {
    list-style: none;
    text-align: center;
}

.paginacion ul li {
    display: inline-block;
    margin-right: 10px;
}

.paginacion ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    background: #8E0B0B;
    text-decoration: none;
}

.paginacion ul li a:hover {
    background: #C11D1D;
}

.paginacion ul li .active {
    background: #ac1818;
    font-weight: bold;
}

/***********************Cards 2 ****************/

.card2 {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    padding: 5px;
    margin: 15px 10px 5px 0px;
    padding-bottom: 5px;
    background: white;
}

.card2 img {
    width: 100%;
}

.card2 h4 {
    font-family: "TradeGothicBold";
    font-size: 24px;
    text-transform: uppercase;
    padding: 8px;
    text-align: center;
}

.card2 .descripcion {
    font-size: 16px;
    text-align: center;
    padding-right: 10px;
    margin-right: 3px;
}

.card2 .especifico {
    font-size: 16px;
    text-align: left;
    padding-right: 10px;
    margin-right: 3px;
}

.card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card2 .personajes {
    overflow: hidden;
    width: 100%;
}

.card2 .personajes .title {
    font-family: "TradeGothicBold";
    font-size: 24px;
    text-align: center;
    padding-right: 10px;
    margin-right: 3px;
}

.card2 .personaje {
    float: left;
    width: 50%;
    position: ;
    overflow: hidden;
    max-height: 160px;
}

.card2 .personaje h4 {
    font-family: "TradeGothicBold";
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px;
    text-align: center;
}

#map {
    height: 400px;
    width: 100%;
}

.historial {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 60%;
    padding: 5px;
    margin: 15px 10px 5px 0px;
    padding: 5px;
    background: #ac1818;
    border-radius: 5px;
}

#borrar {
    font-family: "Open Sans";
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300
}
